.bookForm_container {
  margin: auto;
}

.toggle-button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
}

.toggle-button button {
  background: none;
  cursor: pointer;
  border: 0px;
  color: rgb(27, 115, 174);
  font-size: 3rem;
  transition: 0.5s;
  vertical-align: middle;
  margin-bottom: 1rem;
  margin: auto;
}

.toggle-button.closed {
  display: none;
}

.bookForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto 1rem auto;
  border: 1px solid rgb(27, 115, 174);
  border-radius: 10px;
  max-width: 75%;
  position: relative;
}

.bookForm__form.open {
  transform: translateY(0);
}

.bookForm__form {
  display: flex;
  align-items: center;
  transform: translateY(-160%);
  transition: transform 0.3s ease-out;
}

.bookForm__inputs {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 55%;
  padding: 0.5rem 0;
}

.bookForm__inputs-item {
  display: flex;
  flex-flow: column;
  height: 3rem;
}

.bookForm__inputs input {
  line-height: 24px;
  margin: 0 0.25rem;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgb(27, 115, 174);
  background: transparent;
  color: black;
  font-size: 0.8rem;
  outline: none;
}

.errorMessage {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: whitesmoke;
  background: rgb(232, 59, 44, 0.7);
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorBox {
  font-size: 0.7rem;
  color: red;
  padding: 0.5rem;
}

.bookForm__submitButtonSpace {
  display: flex;
  height: 3rem;
  padding-left: 0.7rem;
}

.bookForm__submitButtonSpace button {
  background: none;
  cursor: pointer;
  border: 0px;
  color: rgb(27, 115, 174);
  font-size: 1.5rem;
  transition: 0.5s;
  vertical-align: middle;
}

.bookForm__formTogglerButtonSpace button {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  background: none;
  cursor: pointer;
  border: 0px;
  color: red;
  font-size: 1.25rem;
  transition: 0.5s;
  vertical-align: middle;
}

.bookForm__submitButtonSpace button:hover {
  color: #243b55;
}

@media (min-width: 769px) {
  .bookForm {
    max-width: 35%;
  }
  .bookForm__inputs {
    flex-basis: 45%;
  }
  .bookForm__inputs input {
    font-size: 1rem;
  }
  .bookForm__submitButtonSpace {
    padding-left: 1rem;
  }
  .errorMessage {
    padding: 1rem;
  }
}