.bookForm_container {
  margin: auto;
}

.toggleButton button {
    background: none;
    cursor: pointer;
    border: 0px;
    color: rgb(27, 115, 174);
    font-size: 1.5rem;
    transition: 0.5s;
    vertical-align: middle;
}

.bookForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto 1rem auto;
  border: 1px solid rgb(27, 115, 174);
  border-radius: 10px;
  max-width: 65%;
}

.bookForm__form {
  display: flex;
  align-items: center;
}

.bookForm__inputs {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 55%;
  padding: 0.5rem 0;
}

.bookForm__inputs-item {
  display: flex;
  flex-flow: column;
  height: 3rem;
}

.bookForm__inputs input {
  line-height: 24px;
  margin: 0 0.25rem;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgb(27, 115, 174);
  background: transparent;
  color: black;
  font-size: 0.8rem;
  outline: none;
}

.errorMessage {
  padding-top: 0.5rem;
  font-size: 0.7rem;
  color: red;
}

.bookForm__buttonSpace {
  display: flex;
  height: 3rem;
  padding-left: 0.7rem;
}

.bookForm__buttonSpace button {
  background: none;
  cursor: pointer;
  border: 0px;
  color: rgb(27, 115, 174);
  font-size: 1.5rem;
  transition: 0.5s;
  vertical-align: middle;
}

.bookForm__buttonSpace button:hover {
  color: #243b55;
}

@media (min-width: 769px) {
  .bookForm {
    max-width: 35%;
  }
  .bookForm__inputs {
    flex-basis: 45%;
  }
  .bookForm__inputs input {
    font-size: 1rem;
  }
  .bookForm__buttonSpace {
    padding-left: 1rem;
  }
}