.container {
  width: 40%;
}

.BookList-info {
  margin-top: 1rem;
  border-radius: 1rem;
  color: whitesmoke;
  border: 1px solid rgb(27, 115, 174);
  background: rgb(27, 115, 174);
}

.BookList-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.BookList-info > div {
  text-align: center;
  flex-basis: 29%;
  font-weight: 500;
}


