.bookList_container {
  margin: auto;
}

.BookList-info {
  margin-top: 1rem;
  border-radius: 1rem;
  color: whitesmoke;
  border: 1px solid rgb(27, 115, 174);
  background: rgb(27, 115, 174);
}

.BookList-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.BookList-info > div {
  text-align: center;
  flex-basis: 24%;
  font-weight: 500;
}

.SearchInput {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.SearchInput input {
  margin: 0 0.25rem;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgb(27, 115, 174);
  background: transparent;
  color: black;
  font-size: 1rem;
  outline: none;
}

.SearchInput select {
  border: none;
  border-bottom: 1px solid rgb(27, 115, 174);
  margin-left: 0.5rem;
  color: gray;
  font-size: 1rem;
}

@media (min-width: 769px) {

}


