.formContainer {
  margin-top: 4rem;
  width: 100%;
  height: 100%;
}

.loginForm__header {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(27, 115, 174);
  flex-basis: 100%;
  margin-bottom: 0.75rem;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.loginForm form {
  display: flex;
}

.inputs {
  display: flex;
  flex-flow: column;
  flex-basis: 20%;
}

.inputs * {
  margin: 0 0 0.5rem 0;
  padding: 0;
  border: none;
  border-bottom: 2px solid rgb(27, 115, 174);
  background: transparent;
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
}

.buttonSpace {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.buttonSpace button {
  border: 0px;
  background: none;
  margin: 1.7rem 0 0 0.5rem;
  color: rgb(27, 115, 174);
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.buttonSpace button:hover {
  color: #243b55;
}

@media (min-width: 813px) {
  .loginForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 812px) and (orientation: portrait) {
  .loginForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .loginForm {
    margin-top: 0.75rem;
  }
}