.side-drawer-toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1.5rem;
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.side-drawer-toggle-button:focus {
  outline: none;
}

.side-drawer-toggle-button__line {
  width: 1.5rem;
  height: 2px;
  background: white;
}