.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgb(27, 115, 174);
}

.footer__Content {
  color: whitesmoke;
  margin-top: 0.25rem;
}

.footer__Content-text {
  margin: auto;
  font-size: 0.75rem;
}

.footer__Content-socialMedia {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer__Content-socialMedia a {
  color: whitesmoke;
  flex-basis: 4%;
  font-size: 1rem;
  transition: 0.5s;
}

.footer__Content-socialMedia a:hover {
  color: rgb(35, 137, 23);
}

@media (min-width: 813px) {
  .footer__Content-text {
    margin: auto;
    font-size: 1rem;
  }
  
  .footer__Content-socialMedia {
    margin: 0.5rem 0;
  }

  .footer__Content-socialMedia a {
    font-size: 1.3rem;
    flex-basis: 1.5%;
  }
}

@media (max-width: 812px) and (orientation: portrait) {
  .footer__Content-socialMedia a {
    font-size: 1.3rem;
    flex-basis: 7%;
  }
}