.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgb(27, 115, 174);
}

.footer__Content {
  color: whitesmoke;
  margin-top: 0.25rem;
}

.footer__Content-text {
  margin: auto;
}

.footer__Content-socialMedia {
  margin: 0.5rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer__Content-socialMedia a {
  color: whitesmoke;
  flex-basis: 1.5%;
  font-size: 1.3rem;
  transition: 0.5s;
}

.footer__Content-socialMedia a:hover {
  color: rgb(35, 137, 23);
}