.registerForm__inputs {
  display: flex;
  flex-flow: column;
}

.registerForm__inputs-item {
  display: flex;
  flex-flow: column;
  flex-basis: 25%;
  height: 3rem;
  margin-bottom: 0.25rem;
}

.registerForm__inputs input {
  margin: 0 0.25rem;
  padding: 0;
  border: none;
  border-bottom: 2px solid rgb(27, 115, 174);
  background: transparent;
  color: black;
  font-size: 0.7rem;
  padding: 0.5rem;
  outline: none;
}

.registerForm__inputs-item-errorMsg {
  font-size: 0.7rem;
  padding-top: 0.3rem;
  color: red;
}

.registerForm__buttonSpace {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  height: 14.625rem;
}

.registerForm__buttonSpace button {
  border: 0px;
  background: none;
  margin: 1.7rem 0 0 0.5rem;
  color: rgb(27, 115, 174);
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

@media (min-width: 769px) {
  .registerForm__inputs input {
    font-size: 1rem;
  }
}