.Book {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Book > div {
  text-align: center;
  flex-basis: 29%;
}

.Book :first-child {
  text-align: left;
}

.Book :last-child {
  text-align: right;
}