.Book {
  margin-top: 1rem;
  border-radius: 1rem;
  color: whitesmoke;
  border: 1px solid rgb(27, 115, 174);
  background: rgba(27, 115, 174, 0.9);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Book > div {
  text-align: center;
  flex-basis: 24%;
  padding: 0.5rem 0;
}

.Book-button button {
  color: whitesmoke;
  border: 0px;
  background: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.1rem;
}

.Book-button button:hover {
  color: rgb(35, 137, 23);
}
